
<form action="/checklist" method="POST">
	<table>
		<tr>
			<th>ISBN</th>
			<td><input type="text" name="isbn" value="1234000001038"/></td>
		</tr>
		<tr>
			<th>User ID</th>
			<td><input type="text" name="user_id" value="odewahn@example.com"/></td>
		</tr>
		<tr>
			<th>Checklist</th>
			<td><input type="text" name="checklist" value="pr/tweet.md"/></td>
		</tr>
		<tr>
			<th>Body</th>
			<td><textarea rows="5" columns="50" name="body"></textarea></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>				