
<form action="/gauges" method="POST">
	<table>
		<tr>
			<th>Gauge</th>
			<td><input type="text" name="gauge" value="Chimera"/></td>
		</tr>
		<tr>
			<th>Date</th>
			<td><input type="text" name="date"/></td>
		</tr>
		<tr>
			<th>Max pages</th>
			<td><input type="text" name="max_pages" value="20"/></td>
		</tr>
				<tr>
			<th>&nbsp;</th>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>				