
<form action="/gauges" method="POST">
	<table>
		<tr>
			<th>Gauge</th>
			<td><input type="text" name="gauge" value="Chimera"/></td>
		</tr>
		<tr>
			<th>Date</th>
			<td><input type="text" name="date"/></td>
		</tr>
	</table>
</form>				