
<form action="/permission" method="POST">
	<table>
		<tr>
			<th>Email address</th>
			<td><input type="text" name="email" value="odewahn@example.com"/></td>
		</tr>
		<tr>
			<th>Project ID</th>
			<td><input type="text" name="isbn" value="1234000001038"/></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>				