
<form action="/webhook" method="POST">
	<table>
		<tr>
			<th>Repo</th>
			<td><input type="text" name="repo" value="odewahn/test-sqs-api"/></td>
		</tr>
		<tr>
			<th>Callback</th>
			<td><input type="text" name="callback" value="https://atlas-utilities.oreilly.com/pull_request_alert"/></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit"></td>
		</tr>
	</table>
</form>				